{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">{% endblock %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<a href="{% url 'admin:index' %}"><img src="{% static 'images/logo-big.svg' %}" alt="idab_logo" width="100"></a>
<!-- <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1÷> -->
{% endblock %}

{% block nav-global %}{% endblock %}
